/* Base styles */
html {
  font-size: 16px;
}

body {
  background-color: #171717;
  color: #c9d1d9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvectica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Layout */
.content {
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  padding: 2em;
  flex: 1;
  line-height: 1.5;
  box-sizing: border-box;
}

hr {
  margin: 1em 0;
  border-top: 1px solid #30363d;
  width: 100%;
  box-sizing: border-box;
}

/* Typography */
h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 24px 0 16px;
}

h2 {
  font-size: 1.5rem;
}

/* Links */
a {
  color: #c9d1d9;
  text-decoration: none;
  padding-right: 1rem;
}

a:last-child {
  padding-right: 0;
}

a:hover {
  text-decoration: underline;
}

/* Navigation Lists */
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Footer */
.footer {
  padding: 1em;
  text-align: center;
}

.footer li {
  display: inline;
  padding-right: 1rem;
}

.footer li:last-child {
  padding-right: 0;
}

/* Titlebar */
.titlebar h1 {
  text-align: left;
}


/* Mobile Styles */
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    padding: 1.5em 1em;
    box-sizing: border-box;
  }

  .titlebar h1 {
    margin: 0;
    line-height: 1.2;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  hr {
    margin: 1em 0;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .content {
    max-width: 700px;
  }
}

@media screen and (min-width: 769px) {
  .titlebar {
    text-align: left;
    width: 100%;
  }

  .titlebar h1 {
    display: inline-block;
    margin: 0;
  }
}
